@font-face {
	font-family: "Alibaba-PuHuiTi-Bold";
	src: url("/fonts/Alibaba-PuHuiTi-Bold.ttf");
}
@font-face {
	font-family: "Alibaba-PuHuiTi-Heavy";
	src: url("/fonts/Alibaba-PuHuiTi-Heavy.ttf");
}
@font-face {
	font-family: "Alibaba-PuHuiTi-Light";
	src: url("/fonts/Alibaba-PuHuiTi-Light.ttf");
}
@font-face {
	font-family: "Alibaba-PuHuiTi-Medium";
	src: url("/fonts/Alibaba-PuHuiTi-Bold.ttf");
}
@font-face {
	font-family: "Alibaba-PuHuiTi-Regular";
	src: url("/fonts/Alibaba-PuHuiTi-Regular.ttf");
}
